*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box1{
    height:100px;
    width:100px;
    background-color: rgb(30, 164, 185);
}
.box2{
        position: absolute;
        top:0;
        left:0;
        height:100px;
        width: 100px;
        background-color: blanchedalmond;
        transition: transform 2s ,margin-top 2s 2s,left 2s 4s, top 2s 6s;
    }
    .box1:hover + .box2{
        transition: top 2s, left 2s 2s, margin-top 2s 4s ,transform 2s 6s;
    position: absolute;
     top: 86vh;
     left: 200vh;
     margin-top:-86vh;
     transform:translateX(-200vh);
    }
    